*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

input {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffff;
  position: relative;
  color: #5e6076;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

// /.NULLSTYLES

#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  padding: 42px 0;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}

.container--footer {
  @extend .container;
  padding: 0;
}

svg {
  flex-shrink: 0;
}

.icon {
  z-index: 2;
}

.icon__search {
  fill: #5e6076;
  transition: all 0.45s linear;

  &:hover {
    fill: #da552f;
  }
}

.icon__heart {
  fill: #5e6076;
  transition: all 0.45s linear;

  &:hover {
    fill: red;
  }
}

.page {
  &__wrapper {
    display: flex;
  }

  &__title {
    text-transform: uppercase;
    margin: 0 0 38px 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 36.57px;
  }

  &__title--result {
    @extend .page__title;
    font-weight: 900;
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }

  &__title--error {
    @extend .page__title--result;
    font-weight: 700;
    color: red;
  }

  &__content {
    flex-grow: 1;
    width: 100%;
    margin: 0 60px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list {
    margin: 0 0 36px 0;
    display: grid;
    justify-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

.page__list.transformed {
  grid-template-columns: 1fr;
}

.logo {
  &__image {
    width: 195px;
    height: 37px;
    object-fit: cover;
  }
}