* *:before,
*:after {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

input {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffff;
  color: #5e6076;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

// /.NULLSTYLES

#root,
.App {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  padding: 30px 0;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}

.icon {
  z-index: 2;
}
.icon__search {
  fill: #5e6076;
}
svg {
  flex-shrink: 0;
}

.page {
  &__wrapper {
    display: flex;
  }
  &__content {
    flex-grow: 2;
    width: 100px;
    margin: 0 60px 0 0;
    display: flex;
    flex-direction: column;
  }
  &__list {
    width: 100%;
    margin: 0 0 45px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__group {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__count {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #5e6076;
    margin: 0 10px 0 0;
  }
  &__button {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #fff;
    background-color: #da552f;
    border-radius: 12px;
    padding: 15px 10px;
  }
}
