{
    "ignorePatterns": ["node_modules/", "build/", "dist/"],
    "rules": {
        "no-console": "warn",
        "quotes": ["warn", "single"],
        "no-unused-vars": "off",
        "prefer-const": "error",
        "comma-dangle": ["warn", "never"],
        "semi": ["warn", "always"],
        "prettier/prettier": ["warn", { "endOfLine": "auto" }],
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/no-explicit-any": "off"
    }
}
