.burger {
  z-index: 10;
  height: 100vh;
  position: fixed;
  left: -300px;
  top: 0;
  transition: transform 0.25s linear;
  background-color: #fff;
  .header__wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
  }
  .header__nav {
    display: flex;
    margin: 10px 0 0 0;
    max-width: 100%;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav__item {
    margin: 10px 0 10px 0;
  }
  .nav__link {
    font-weight: 600;
  }
  .header__section {
    display: none;
  }
}

.burger.opened {
  transform: translateX(300px);
}
