.burger {
  z-index: 10;
  height: 100vh;
  position: fixed;
  left: -300px;
  top: 0;
  transition: transform 0.25s linear;
  background-color: #fff;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 10px;
  }

  &__logo {
    margin: 0 0 30px 0;
  }

  &__nav {

    .nav__list {
      display: flex;
      flex-direction: column;
    }

    .nav__item {
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 10px 0;
      }
    }

    .nav__link {
      font-weight: 600;
    }
  }
}

.burger.opened {
  transform: translateX(300px);
}