.district {
  &__complex {
    font-weight: 900;
    font-size: 16px;
    line-height: 19.5px;
    text-transform: uppercase;
    color: #5e6076;
    margin: 0 0 5px 0;
  }

  &__area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    color: #abadc5;
    padding: 30px 20px 0 20px;
  }

  &__description {
    display: flex;
    align-items: center;

    li {
      &:not(:last-child) {
        margin: 0 5px 0 0;
      }
    }
  }

  &__distance {
    margin: 0 10px 0 0;
  }

  &__button {
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    color: #fff;
    background-color: #da552f;
    padding: 15px;
    border-radius: 12px;
  }

  &__icon {
    display: inline-block;

  }
}

.district__area.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px 0 30px;

  .district__distance {
    margin: 0 0 20px 0;
  }
}