@import '../../assets/styles//vars';

// /. imports

.card {
  border-radius: 20px;
  width: 456px;

  // &__select {
  //   display: flex;
  //   position: relative;

  //   &::after {
  //     content: url(../../assets/images/arrow_drop-icon.svg);
  //     position: absolute;
  //     right: 0;
  //   }
  // }

  &__location {
    margin: 0 0 10px 0;
  }

  &__preview {
    width: 456px;
    height: 355px;
    position: relative;
  }

  &__image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px;
  }

  &__clarification {
    font-weight: 500;
    font-size: 13px;
    line-height: 15.85px;
    color: #5e6076;
    background-color: #fff;
    padding: 3px;
    border-radius: 4px;
    z-index: 1;
    position: absolute;
  }

  &__clarification--equipment {
    left: 0;
    top: 0;
    margin: 22px 20px;
  }

  &__clarification--suggestions {
    right: 0;
    bottom: 0;
    margin: 28px 34px;
  }

  &__broadcast {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 26px 20px;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff;
  }

  &__button {
    font-weight: 500px;
    line-height: 15.85px;
    background-color: transparent;
    color: $light-gray-color;
  }

  &__icon {
    height: 8px;
    width: 8px;
    margin: 0 3px 0 0;
    background-color: $primary-color;
    border-radius: 50%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 20px auto 0 auto;
  }
}

.card.active {
  width: 100%;

  .card__preview {
    height: 545px;
    width: 481px;
    position: relative;
  }

  .card__wrapper {
    display: flex;
    flex-direction: row;
  }

  .card__title {
    margin: auto;
  }
}

.zone {
  width: 100%;
  max-height: 165px;
  min-height: 70px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }
  }

  &__select {
    position: relative;

    &::after {
      content: url(../../assets/images/arrow_drop-icon.svg);
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;

    :not(:last-child) {
      margin: 0 0 4px 0;
    }
  }

  &__plote {
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    color: $white-grey-color;
  }

  &__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    color: $secondary-color;
    word-wrap: break-word;
  }
}

.zone.active {
  max-height: 300px;

  .zone__section {
    padding: 30px;

    &:last-child {
      border-bottom: none;
    }
  }
}