@import '../../assets/styles/vars';

// /. imports

.filter {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;

  max-width: 310px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    padding: 32px 36px 28px 36px;
    border-radius: 20px;
  }

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;

    &:not(:last-child) {
      margin: 0 0 33px 0;
    }

    &:nth-child(2) {
      margin: 0 0 42px 0;
    }

    &:hover svg {
      fill: #fff;
    }

    svg {
      fill: $light-gray-color;
      position: absolute;
      right: .7em;
      top: 40%;
      transform: translateY(-35%);
      margin: 2.5px;
      transition: all 0.2s linear;
    }
  }

  &__group--area {
    position: relative;
  }

  &__input {
    margin: 0 0 14px 0;
    padding: 11px 30px 11px 6px;
    background-color: transparent;
    border: 1px solid $light-gray-color;
    transition: all 0.2s linear;
    color: #fff;
    border-radius: 6px;

    &::-webkit-input-placeholder {
      color: $white-grey-color;
    }

    &::-moz-placeholder {
      color: $white-grey-color;
    }

    &:-ms-input-placeholder {
      color: $white-grey-color;
    }

    &::-ms-input-placeholder {
      color: $white-grey-color;
    }

    &::placeholder {
      color: $white-grey-color;
    }

    &:focus,
    &:hover {
      border: 1px solid #fff;
    }

    &:disabled {
      border: 1px solid $light-red-color;
    }
  }

  &__input--price {
    margin: 0 0 18px 0;
    -moz-appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__input--area {
    margin: 0;
  }

  &__group--button {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    border-radius: 6px;
    border: 1px solid $light-gray-color;
  }

  &__group--submit {
    margin: 10px 0 0 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__count {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: $secondary-color;
    margin: 0 24px 0 0;
  }

  &__button {
    text-align: start;
    overflow: hidden;
    padding: 5px 28px 5px 14px;
    color: #fff;
    border-right: 1px solid $light-gray-color;
    background-color: transparent;

    &:first-child {
      color: #fff;
    }

    &:last-child {
      border-right: none;
    }
  }

  &__range {
    width: 100%;
  }

  p {
    color: black;
  }
}

.filter__button.active {
  background-color: $light-gray-color;
}

.slider {
  height: 2px;
  background-color: $light-gray-color;
  position: relative;

  &__progress {
    height: 2px;
    left: 25%;
    right: 25%;
    position: absolute;
    background-color: $primary-color;
  }
}

.price-range {
  position: relative;

  &__counter {
    background-color: $light-gray-color;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    margin: 16px 0 0 0;
    opacity: 0.75;
  }

  &__indicators {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    position: absolute;
    top: -2px;
    height: 2px;
    width: 100%;
    z-index: 2;
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-appearance: none;
    background: none;
    pointer-events: none;

    &[type="range"]::-webkit-slider-thumb {
      border-radius: 50%;
      -webkit-appearance: none;
      pointer-events: auto;
    }

    &[type="range"]::-moz-range-thumb {
      border-radius: 50%;
      -moz-appearance: none;
      pointer-events: auto;
      border: none;
    }
  }

  &__input--min {
    &[type="range"]::-webkit-slider-thumb {
      width: 24px;
      height: 24px;
      background-color: $light-gray-color;
      background-image: url(../../assets/images/circle_range-icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__input--max {
    &[type="range"]::-webkit-slider-thumb {
      width: 14px;
      height: 14px;
      background-color: $primary-color;
      -webkit-transition: all 0.15s linear;
      transition: all 0.15s linear;
    }
  }
}

.price-range__input--max.active {
  &[type="range"]::-webkit-slider-thumb {
    box-shadow: 0 0 0 4px rgba(218, 85, 47, 0.2);
  }
}