.header {
  transition: all 0.25s ease;
  flex: 0 0 auto;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &__section {
    display: flex;
    align-items: center;
    margin: 0 5px;
    &:last-child {
      margin: 0 0 0 5px;
    }
  }
  &__section--interface {
    display: flex;
    align-items: center;
  }
  &__nav {
    margin: 0 5px;
    max-width: calc(100% / 4.5);
  }
  &__form {
    margin: 0 50px;
  }
  &__button {
    background-color: transparent;
  }
  &__button--call {
    margin: 0 10px 0 0;
  }
  &__button--projects {
    margin: 0 80px 0 0;
    padding: 10px 15px;
    font-weight: normal;
    border-radius: 12px;
    font-weight: 600;
    line-height: 17.07px;
    background-color: #da552f;
    color: #fff;
  }
  &__button--broadcast {
    font-weight: 500;
    line-height: 17.07px;
    color: #5e6076;
    background-color: transparent;
    display: flex;
    align-items: center;
    :not(:last-child) {
      margin: 0 5px 0 0;
    }
  }
  &__button--call {
    background-color: #fafafa;
    padding: 7px;
    font-weight: 500;
    line-height: 17.07px;
    border-radius: 7px;
  }
  &__telephone {
    color: #5e6076;
    font-weight: 600;
  }
}

.burger-menu {
  transition: all 0.25s ease;
  cursor: pointer;
  display: block;
  position: relative;
  margin: 0;
  width: 21px;
  height: 10px;
  &:before,
  &:after {
    content: "";
    transition: transform 0.25s ease;
    background-color: #da552f;
    position: absolute;
    border-radius: 5px;
    height: 1px;
    width: 100%;
    left: 0;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  &__line {
    position: absolute;
    transition: transform 0.25s ease;
    background-color: #da552f;
    left: 0;
    top: 5px;
    border-radius: 5px;
    height: 1px;
    width: 100%;
  }
}

.burger-menu.opened {
  @extend .burger-menu;
  &:before {
    transform: rotate(45deg);
    top: 4px;
  }
  &:after {
    transform: rotate(-45deg);
    bottom: 5px;
  }
  .burger-menu__line {
    transform: scale(0);
  }
}

.burger-menu.fixed {
  z-index: 2;
  position: fixed;
  margin: 20px;
  right: 0;
}


.circle {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  transform: scale(1);
  background: #da552f;
  animation: pulse 2s infinite;
}
.circle.pulse {
  background: rgba(218, 85, 47, 1);
  box-shadow: 0 0 0 0 rgba(218, 85, 47, 1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
	}
	
	70% {
		transform: scale(0.9);
		box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
	}
	
	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}
