.header {
  transition: all 0.25s ease;
  flex: 0 0 auto;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &__section {
    display: flex;
    align-items: center;
    margin: 0 5px;

    &:last-child {
      margin: 0 0 0 5px;
    }
  }

  &__section--interface {
    display: flex;
    align-items: center;
  }

  &__nav {
    margin: 0 5px;
    max-width: calc(100% / 4.5);
  }

  &__button {
    background-color: transparent;
    line-height: 17.07px;
    border-radius: 10px;
  }

  &__button--call {
    margin: 0 10px 0 0;
  }

  &__button--projects {
    margin: 0 80px 0 0;
    padding: 10px 15px;
    font-weight: 600;
    background-color: #da552f;
    color: #fff;

    &:focus {
      color: #5e6076;
    }
  }

  &__button--broadcast {
    font-weight: 500;
    color: #5e6076;
    background-color: transparent;
    display: flex;
    align-items: center;

    :not(:last-child) {
      margin: 0 5px 0 0;
    }
  }

  &__button--call {
    background-color: #fafafa;
    padding: 7px;
    font-weight: 500;
    transition: all 0.2s linear;
    border: 1px solid transparent;

    &:hover,
    &:focus {
      border: 1px solid #5e6076;
      border-radius: 7px;
    }

  }

  &__button--like {
    display: flex;

    svg {
      transition: all .25s linear;
    }

    &:hover svg {
      fill: #da552f;
    }
  }

  &__button--search {
    display: flex;
    margin: 0 50px;

    svg {
      transition: all .25s linear;
    }

    &:hover svg {
      fill: #da552f;
    }
  }

  &__telephone {
    color: #5e6076;
    font-weight: 600;
  }
}

.burger-menu {
  transition: all 0.25s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  width: 20px;
  height: 18px;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    transition: 0.5s ease-in-out;
    background-color: #da552f;
    position: absolute;
    border-radius: 10px;
    height: 1px;
    width: 100%;
  }

  &::before {
    transform: translateY(-5px);
  }

  &::after {
    transform: translateY(5px);
  }

  &__line {
    transition: 0.25s ease-in-out;
    background-color: #da552f;
    border-radius: 10px;
    height: 1px;
    width: 100%;
  }
}

.burger-menu.opened {
  @extend .burger-menu;

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  .burger-menu__line {
    background-color: transparent;
  }
}

.burger-menu.fixed {
  z-index: 2;
  position: fixed;
  margin: 20px;
  right: 0;
  top: 0;
}

.circle {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  transform: scale(1);
  background-color: #da552f;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(218, 85, 47, 1);
  }

  70% {
    transform: scale(0.9);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(218, 85, 47, 1);
  }

  70% {
    transform: scale(0.9);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}