.header {
  flex: 0 0 auto;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &__section {
    display: flex;
    align-items: center;
    margin: 0 5px;
    &:last-child {
      margin: 0 0 0 5px;
    }
  }
  &__section--interface {
    display: flex;
    align-items: center;
  }
  &__nav {
    margin: 0 5px;
    max-width: calc(100% / 4.5);
  }
  &__form {
    margin: 0 50px;
  }
  &__button {
    background-color: transparent;
  }
  &__button--call {
    margin: 0 10px 0 0;
  }
  &__button--projects {
    margin: 0 50px 0 0;
    padding: 10px;
    font-weight: normal;
    border-radius: 12px;
    font-weight: 600;
    line-height: 17.07px;
    background-color: #da552f;
    color: #fff;
  }
  &__button--broadcast {
    font-weight: 500;
    line-height: 17.07px;
    color: #5e6076;
    background-color: transparent;
    position: relative;
    &::before {
      content: "";
      height: 8px;
      width: 8px;
      background-color: #da552f;
      position: absolute;
      border-radius: 50%;
      left: -50%;
      top: 25%;
    }
  }
  &__button--call {
    background-color: #fafafa;
    padding: 7px;
    font-weight: 500;
    line-height: 17.07px;
    border-radius: 7px;
  }
  &__telephone {
    color: #5e6076;
    font-weight: 600;
  }
}

.burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__line {
    transition: transform 0.15s ease-in;
    border-radius: 5px;
    background-color: #da552f;
    width: 21px;
    height: 1px;
    &:not(:last-child) {
      margin: 0 0 3px 0;
    }
  }
}

.burger-menu.opened {
  :first-child {
    transform: rotate(45deg);
    background-color: red;
    margin: 0;
  }
  :nth-child(2) {
    display: none;
  }
  :last-child {
    transform: rotate(-45deg);
    margin: 0;
  }
}
