@media screen and (max-width: 1320px) {
  .page__wrapper {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .card__preview {
    width: 100%;
  }

  .page__aside {
    order: -1;
    margin: 0 0 30px 0;
  }

  .page__content {
    margin: 0;
  }

  .filter {
    max-width: 100%;
    position: relative;
    top: 0;
  }

  .header__nav {
    display: none;
  }

  .header__button--projects {
    margin: 0 30px 0 0;
  }
}

@media screen and (max-width: 1175px) {
  .footer__section {
    flex-grow: 1;
  }

  .footer__section--form {
    margin: 20px 10px;
  }

  .footer__form {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .header__section--feedback {
    display: none;
  }

  .burger {
    .header__section--feedback {
      display: flex;
    }

    .header__button--call {
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .zone__section {
    align-items: center;
  }

  .zone__information {
    margin: 0 10px 0 0;
  }

  .footer__content {
    flex-wrap: wrap;
  }

  .page__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 675px) {
  .card.active {
    margin: 0 0 20px 0;

    .card__wrapper {
      flex-direction: column;
    }

    .card__preview {
      width: 100%;
    }
  }

  .district__area.active {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .district__distance {
      margin: 0;
    }
  }
}

@media screen and (max-width: 540px) {
  .header__section--broadcast {
    display: none;
  }

  .burger {
    .header__section--broadcast {
      display: flex;
    }

    .header__wrapper {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0;
    }

    .header__section {
      margin: 10px 0 10px 0;
      width: 100%;
      justify-content: space-between;
    }

    .header__section--feedback {
      flex-direction: column;

      :not(:last-child) {
        margin: 0 0 10px 0;
      }
    }

    .header__nav {
      margin: 10px 0 10px 0;
    }

    .nav__item {
      margin: 10px;
      margin: 10px 0;
    }

    .header__button--projects {
      padding: 10px 50px;
    }

    .header__button--call {
      margin: 0;
      width: 100%;
      background-color: #fafafa;
    }
  }

  .footer__section--social {
    justify-content: center;
    align-items: center;
  }

  .footer__section--navigation {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }

  .header__section:last-child {
    margin: 0 0 0 20px;
  }

  .header__form {
    margin: 0 35px;
  }

  .main {
    padding: 15px 0 30px 0;
  }

  .form__label {
    text-align: center;
  }

  .form__title {
    text-align: center;
  }

  .banner__content {
    padding: 60px 20px 70px 20px;
  }

  .banner__information {
    margin: 65px 5px;
  }
}

@media screen and (max-width: 375px) {
  .banner__content {
    max-width: 280px;
    padding: 60px 5px 70px 5px;
  }

  .header__section:last-child {
    margin: 0 0 0 10px;
  }

  .header__button--search {
    display: none;
  }

  .header__button--like {
    display: none;
  }

  .zone.active {
    .zone__section {
      padding: 15px;

      &:first-child {
        padding: 0 15px 15px 15px;
      }

      &:last-child {
        padding: 15px 15px 0 15px;
        border-bottom: none;
      }
    }
  }

  .banner {
    min-height: 540px;
  }

  .banner__button {
    width: 100%;
  }

  .banner__content {
    padding: 35px 30px 45px 30px;
  }

  .banner__information {
    flex-direction: column;
    justify-content: center;
    margin: 45px 15px;
  }

  .banner__column.banner__column {
    &:not(:last-child) {
      margin: 0 0 15px 0;
    }
  }

  .form__group {
    :not(:last-child) {
      margin: 0 0 10px 0;
    }

    flex-direction: column;
  }

  .card.active {
    margin: 0 0 40px 0;

    .card__location {
      margin: 0 0 25px 0;
    }
  }

  .district__area.active {
    flex-direction: column;

    .district__distance {
      margin: 0 0 10px 0;
    }

    .district__button {
      width: 100%;
    }
  }

  .card {
    &:not(:last-child) {
      margin: 0 0 40px 0;
    }
  }
}