@import '../../assets/styles/vars';

// /. imports

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

input {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffff;
  position: relative;
  color: #5e6076;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

// /.NULLSTYLES

#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  padding: 42px 0;
}

svg {
  flex-shrink: 0;
}


.page {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
    margin: 0 0 38px 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 36.57px;
  }

  &__title--result {
    @extend .page__title;
    font-weight: 900;
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }

  &__title--error {
    @extend .page__title--result;
    font-weight: 700;
    color: red;
  }

  &__aside {
    max-width: 310px;
    width: 100%;
  }

  &__content {
    flex-grow: 1;
    margin: 0 60px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list {
    flex-grow: 1;
    margin: 0 0 36px 0;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(456px, 456px));
    grid-gap: 30px;
  }
}

.page__list.transformed {
  grid-template-columns: 1fr;
}


.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}

.container--footer {
  @extend .container;
  padding: 0;
}


.button {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: $primary-color;
  color: #fff;
  border-radius: 12px;
  transition: all 0.2s linear;
}

.button--projects {
  font-weight: 600;
  padding: 10px 15px;

  margin: 0 80px 0 0;

  &:focus {
    color: $light-gray-color;
  }
}

.button--broadcast {
  font-weight: 500;
  color: $light-gray-color;
  background-color: transparent;
  display: flex;
  align-items: center;

  :not(:last-child) {
    margin: 0 5px 0 0;
  }
}

.button--call {
  background-color: #fafafa;
  color: $light-gray-color;
  font-weight: 500;
  padding: 7px;
  border: 1px solid transparent;

  margin: 0 10px 0 0;

  &:hover,
  &:focus {
    border: 1px solid $light-gray-color;
    border-radius: 7px;
  }
}

.button--banner {
  font-weight: 500;
  padding: 10px 22px;

  &:focus {
    color: $light-gray-color;
  }
}

.button--district {
  font-weight: 500;
  padding: 15px;
}

.button--submit {
  font-weight: 500;
  padding: 15px 16px;

  &:focus {
    color: $secondary-color;
  }
}

.button--subscribe {
  font-weight: 600;
  padding: 14px;

  &:focus {
    color: $secondary-color;
  }
}