@import '../../assets/styles/vars';

// /. imports

.banner {
  background-image: url(../../assets/images/project-4.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 100%;

  &__wrapper {
    min-height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    flex: 0 0 385px;
    padding: 60px 30px 70px 30px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__image {
    overflow: hidden;
    min-width: 207px;
    flex: 0 0 50px;
    height: 50px;
    object-fit: cover;
  }

  &__information {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    margin: 67px 16px;
  }

  &__title {
    font-size: 14px;
    grid-row: 500;
    line-height: 17.7px;
    color: $white-grey-color;
  }

  &__count {
    font-size: 30px;
    font-weight: 900;
    line-height: 36.57px;
    color: $secondary-color;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin: 0 42px 0 0;
    }
  }

  &__title {
    text-align: center;
  }
}