.banner {
  background-image: url(../../assets/images/project-4.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  min-height: 465px;
  width: 100%;
  position: relative;
  &__button {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
    color: #fff;
    background-color: #da552f;
  }
  &__content {
    padding: 60px 30px 70px 30px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__information {
    margin: 62px 0;
    display: flex;
  }
  &__title {
    font-size: 14px;
    grid-row: 500;
    line-height: 17.7px;
    color: #abadc5;
  }
  &__count {
    font-size: 30px;
    font-weight: 900;
    line-height: 36.57px;
    color: #5e6076;
  }
  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }
}
